---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Natasja Saad">
  <main>
    <h1>Natasja Saad</h1>

    <section>
      <div>
        <h2>Motion graphic - website</h2>
        <p>En rejse gennem musikken, kulturen og stemmerne fra København.</p>
      </div>

      <div>
        <h2>Motion Graphic - meta ads</h2>
        <p>Oplev de steder, der formede Natasjas liv og fortælling.</p>
      </div>

      <div>
        <h2>Interaktivt kort</h2>
        <p>Se “Natasja for altid” og bliv klogere på hendes arv.</p>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    text-align: center;
  }

  h1 {
    font-family: "Anton", sans-serif;
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 3rem;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }

  section {
    max-width: 700px;
    width: 100%;
  }

  h2 {
    font-family: "Anton", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
    text-shadow: 1px 1px 2px rgba(250, 247, 247, 0.904);
  }

  section div {
    margin-bottom: 2.5rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.44);
    border-radius: 12px;
    box-shadow: 2 4px 12px rgba(0, 0, 0, 0.1);
  }

  p {
    font-size: 1.1rem;
    color: #333;
  }
</style>
